<main style="text-align: center; overflow-y: auto;">

<div style="width: 100%;">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        Registration form
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>


      <div>

        <form [formGroup]="registrierungForm" (ngSubmit)="onSubmit()">
          <br /><br />

          <div style="text-align: left">
          <p>
            Liebe*r Studierende*r,
            <br><br>
            mit der Nutzung des Webservices „StatsBot“ erklären Sie sich damit einverstanden, dass Ihr Vorname,
            Nachname und Matrikelnummer sowie Ihre Chatverläufe und die Anzahl der verwendeten Token in einer Webdatenbank
            des Zentralen Informatikdienstes der Universität Wien (ZID)
            gespeichert werden. Die Speicherung dieser Daten ist notwendig, um Ihnen Zugang zu Ihren eigenen
            früheren Chatverläufen ermöglichen zu können. Um Antworten für „StatsBot“ zu generieren, werden
            Ihre Chatnachrichten an ein großes Sprachmodell von Microsoft Azure gesendet und auf deren
            Servern verarbeitet. Für diesen Vorgang gelten die Datenschutzbestimmungen der Universität Wien
            für Microsoft Azure Cloud Services (<a href=”https://zid.univie.ac.at/en/azure/data-protection-and-data-security/”>https://zid.univie.ac.at/en/azure/data-protection-and-data-security/</a>).
            Es wird darauf hingewiesen, dass „StatsBot” keine personenbezogenen Daten an diese
            Cloud-Dienste übermittelt und sich die Rechenzentren aller Dienste innerhalb der EU befinden.
            <br><br>
            Darüber hinaus erklären Sie sich mit der Nutzung des Webdienstes „StatsBot” damit einverstanden,
            dass alle Ihre Chatverläufe bis Ende Juni 2027 zum Zweck wissenschaftlicher Begleitforschung
            exportiert und analysiert werden können. Uns interessiert, wie Nutzer*innen mit „StatsBot”
            interagieren und welche Arten von Abfragen sie stellen (weitere Informationen unter
            <a href=”https://osf.io/v8ydk/”>https://osf.io/v8ydk/</a>).
            Darüber hinaus werden anonyme Kursdaten (z. B. Daten der Anmeldung und Abmeldung von
            Statistik-Übungen) sowie anonymisierte Fragebogendaten mit Chat-Verläufen verknüpft, um
            Nutzungsmuster besser analysieren zu können. Zu diesem Zweck wird Ihr Chatverlauf pseudonymisiert, d.h. alle damit
            verbundenen persönlichen Informationen werden entfernt, und bis Ende 2027 auf einem
            passwortgeschützten lokalen Speichermedium gespeichert. Sie können die Löschung dieser Daten bis
            Ende Juli 2027 beantragen, indem Sie sich an das Koordinierungsteam unter
            daniel.reiter&#64;univie.ac.at wenden. Danach werden Ihre Chatverläufe anonymisiert und zu einem
            Datensatz mit anonymisierten Chatverläufen von Studierenden hinzugefügt, der im Einklang mit den
            Praktiken von Open Science später öffentlich zugänglich gemacht werden kann (z. B. auf OSF). Ihre
            pseudonymisierten Chatverläufe werden in diesem Prozess dauerhaft gelöscht.
          </p>
          <br><br>
          <p>
            Dear student,
            <br><br>
            with the use of the web service “StatsBot” you agree that your first name, surname, matriculation
            number, chat histories, and number of tokens used will be stored in a web database of the Vienna
            University Computer Center (ZID). The storage of this data is necessary to allow you access to your
            own chat histories from the past. To generate responses from “StatsBot”, your chat messages are
            sent to a large language model from Microsoft Azure and processed on their servers. For this process,
            the data protection regulations of the University of Vienna for Microsoft Azure Cloud Services apply
            (<a href="https://zid.univie.ac.at/en/azure/data-protection-and-data-security/">https://zid.univie.ac.at/en/azure/data-protection-and-data-security/</a>). It should be noted that
            “StatsBot” does not transfer any personal data to such cloud services, and the data centers of all
            services are located within the EU.
            <br><br>
            In addition, with the use of the web service “StatsBot” you agree that all your chat histories until end
            of June 2027 can be exported and analyzed for the purpose of scientific research on how users
            interact with “StatsBot” and which kinds of queries they make (for further information, see
            <a href=”https://osf.io/v8ydk/”>https://osf.io/v8ydk/</a>).
            In addition, anonymous course data (e.g. data relating to enrollment in and withdrawal from
            statistics tutorials) and anonymized questionnaire data are linked to chat histories in order to
            better analyze usage patterns. For this, your chat history will be pseudonymized, removing all personal
            information attached to it, and stored on a password-protected local storage medium until end of
            2027. You can request the deletion of your data until end of July 2027 by contacting the coordinating
            team under daniel.reiter&#64;univie.ac.at. After this, your chat histories will be anonymized and added
            to a dataset of anonymized students chat histories, which may be publicly shared (e.g., on OSF) in
            accordance with open science practices. Your pseudonymized chat histories will be permanently
            deleted in this process.
          </p>


        </div>

        <br/>
          <mat-checkbox formControlName="dsgvo_check">I agree to the above conditions and I confirm that I am a psychology student or employee of the facutlty of Psychology. / Ich stimme den oben genannten Bedingungen zu und bestätige, dass ich Student*in an der Fakultät für Psychologie oder Mitarbeiter*in bin.   </mat-checkbox>
          <br /><br />

          @if(!success){
            <button style="margin-bottom: 50px;" type="submit" mat-raised-button
            [disabled]="!this.registrierungForm.valid">Register
            </button>
          }


        </form>
      </div>

    </mat-card-content>

  </mat-card>
  <div style="width: 100%; text-align: center;"><small>©Department of Cognition, Emotion, and Methods in Psychology, Faculty of Psychology</small></div>
</div>
</main>
